
.video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 56.25%;
}

.fly-over {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


.layout-container h2 {
    text-align: center;
    padding: 30px;
    font-size: 32px;
    text-transform: uppercase;

}

.layout-container img {
    width: 70vw;
    display: flex;
    margin: auto;
    
}

.grid-box {
    display: grid;
    /* gap: 20px; */
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    
}

.box {
    padding: 30px;
    
}

.box img {
    width: 100%;
}